In [1]:
#Dependancies 

import pandas as pd

file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Player Count

unique_players = purchase_data['SN'].nunique()
total_players = pd.DataFrame({"Total Players": [unique_players]})
total_players

   Total Players
0            576

In [4]:
#Purchasing Analysis (Total)

unique_items = purchase_data['Item ID'].nunique()
average_price = round(purchase_data["Price"].mean(),2)
purchases = purchase_data["Price"].count()
total_revenue = sum(purchase_data["Price"])

purchase_summary = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [purchases], "Total Revenue": [total_revenue]})
purchase_summary.style.format({"Average Price":"${:,.2f}", "Total Revenue":"${:,.2f}"})

In [5]:
# Gender Demographics 

gender_stats = purchase_data.groupby("Gender")
gender_count = gender_stats.nunique()["SN"]
gender_percent = gender_count/ unique_players

gender_summary = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": gender_percent})

gender_summary.index.name = None
gender_summary.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2%}"})

In [6]:
#  Purchasing Analysis (Gender)

purchase_count = gender_stats.count()["Purchase ID"]
avg_purchase = round(gender_stats.mean()["Price"],2)
total_purchase = gender_stats.sum()["Price"]
avg_purchase_person = round(total_purchase / gender_count,2)


purchase_analysis =pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase, "Total Purchase Value": total_purchase, "Avg Total Purchase per Person": avg_purchase_person})
purchase_analysis.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"${:,.2f}"})

In [7]:
#  Age Demographics

bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']
 
purchase_data["Age"] = pd.cut(purchase_data["Age"], bins, labels= group_names)

age_group_count = purchase_data["Age"].value_counts()
age_group_avg = round(purchase_data.groupby("Age")["Price"].mean(),2)
age_group_total = purchase_data.groupby("Age")["Price"].sum()
age_group_avg_person = round(age_group_total / purchase_data.groupby("Age")["SN"].nunique(),2)

age_range_summary = pd.DataFrame({"Purchase Count":age_group_count,"Average Purchase Price":age_group_avg,"Total Purchase Value": age_group_total, "Avg Total Purchase per Person": age_group_avg_person})
age_range_summary.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"${:,.2f}"})

In [8]:
#  Top Spenders

purchase_count_sn = purchase_data.groupby("SN").count()["Price"]
average_price_sn = round(purchase_data.groupby("SN").mean()["Price"],2)
purchase_total_sn = purchase_data.groupby("SN").sum()["Price"]

total_user_data = pd.DataFrame({"Purchase Count":purchase_count_sn,"Average Purchase Price": average_price_sn,"Total Purchase Value": purchase_total_sn})

top_five = total_user_data.sort_values("Total Purchase Value", ascending=False)
top_five["Average Purchase Price"] = top_five["Average Purchase Price"].map("${:,.2f}".format)
top_five["Total Purchase Value"] = top_five["Total Purchase Value"].map("${:,.2f}".format)
top_five.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [9]:
#  Most Popular Items

items_purchase_count = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"]
items_average_price = purchase_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
items_value_total = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"]

items_purchased = pd.DataFrame({"Purchase Count":items_purchase_count,"Item Price":items_average_price,"Total Purchase Value":items_value_total})

most_popular_items = items_purchased.sort_values("Purchase Count", ascending=False)
most_popular_items["Item Price"] = most_popular_items["Item Price"].map("${:,.2f}".format)
most_popular_items["Total Purchase Value"] = most_popular_items["Total Purchase Value"].map("${:,.2f}".format)
most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [10]:
#  Most Profitable Items

most_profitable_items = items_purchased.sort_values("Total Purchase Value", ascending=False)
most_profitable_items["Item Price"] = most_profitable_items["Item Price"].map("${:,.2f}".format)
most_profitable_items["Total Purchase Value"] = most_profitable_items["Total Purchase Value"].map("${:,.2f}".format)
most_profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [ ]:
#Summary Findings 

#1. The game is very male dominated with 84% of the players made up of males but on average they spend less than females. 
#2. The game is most popular among 20-24 year olds who nearly make up half of the player base.  
#3. Oathbreaker is the most popular item having been purchased the most and generated most revenue.